/// COLORS ////////////////////////////////////////////////////////////
@subColor:#666;
@mainColor:#333 ;
@red: #721500;
@white: #fff;
@grey: #959595;

/// FONT SIZE ////////////////////////////////////////////////////////////
@f_xsmall:24px;
@f_small: 30px;
@f_normal: 32px;
@f_big: 42px;
@f_large: 45px;
@f_xl: 70px;
@f_xxl: 78px;
////
@margin-single:10px;
@margin-double:@margin-single * 4;

///
@bold: "bold";
@reg: "regular";

.setFont(@color:@mainColor,@dim:@f_normal,@weight:@reg){
	font-size: @dim;
	color:@color;
  font-weight:@weight;
}

@font-face {
  font-family: "Helvetica";
  //src: url('../font/AG Book Stencil.ttf');
}
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
p { 
  font-family: "Helvetica";
  .setFont(@mainColor,@f_normal,@bold);
}
